* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: aliceblue;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

a {
    text-decoration: none;
    color: antiquewhite;
}

header {
    background-color: #292929;
    color: aliceblue;
    padding: 0.5em;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    position: relative;
    top: 0px;
    width: calc(100% - 1px);

    z-index: 1;
}

.menu {
    width: 100%;
    height: 120px;
    margin: 0 auto;
}

nav {
    float: right;

}

nav ul li {
    list-style: none;
    margin-left: 0px;
    padding: 45px;
    float: left;
    color: aliceblue;
    text-overflow: ellipsis;
    cursor: pointer;
    text-decoration: none;

}

#logo {
    width: 180px;
    height: 120px;
}

#principio {

    display: flex;
    flex-flow: row nowrap;
    flex-direction: row;
    justify-content: space-between;
    flex-basis: 30%;
    background-image: url(./img/yogalife.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 900px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;

}

#tituloPag {
    position: absolute;
    top: 60%;
    left: 40%;
    font-size: 48px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    text-shadow: wheat 1px 1px 1px;
}

.capa1 {


    padding: 1.5em;
    height: 325px;
    background-color: lightgray;
    text-align: left;
    border-radius: 5px;
    border-collapse: unset;
    border: groove;
    text-align: center;
    margin: 1em;
}

.right {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    place-items: end;
    justify-items: stretch;
    padding-right: 3em;
    height: 380px;
    width: 350px;
    padding-top: 1em;
    text-align: end;


}

#busqueda {
    width: 30%;
    height: 50px;
    display: flex;
    place-items: baseline;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-top: 1em;


}

.right>.botones {
    display: flex;
    flex-direction: column;
    flex-grow: unset;
    border-radius: 4px;
    border: 1px solid black;
}

#YogaInfo {
    top: 23%;
    left: 75%;
    font-size: large;
    padding-top: 30px;

}

#YogaInfo>ul {
    list-style: none;
}

#tituloyoga {
    font-size: 48px;
    color: darkblue;
    text-align: center;
    text-decoration: underline;
    text-shadow: 3px 5px 5px black;
    font-family: sans-serif;
    padding: 10px;
    margin-top: 15px;
    margin-bottom: 25px;
    width: 30%;
}

#versus {
    float: right;
    position: relative;
    margin-right: 10%;
    border: 1px solid grey;
    border-radius: 3px;
}

#yoga {
    margin-bottom: 3em;
    margin-top: 3em;
    border: 1px solid grey;
    border-radius: 5px;
    background-image: url(./img/fondo1.jpg);
    background-position: center;
}

#botonespilatesvid {
    width: 30%;
}

#botonpilatesvid>.botones {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15%;
    margin-top: 20px;
    margin-bottom: 10px;
    padding: 5px;
    width: 20em;
    background-color: royalblue;
    color: white;
    border-radius: 4px;
    border: 1px solid black;
    cursor: pointer;

}

#img-pilates {
    float: none;
    width: 50%;
    height: 50%;
}

#pilates {
    min-height: 120vh;
    background-image: url(./img/LOTO.jpg);
    background-size: cover;
    height: 100%;
    border: 1px solid grey;
    border-radius: 5px;
}

.titulos {
    font-size: 48px;
    color: darkblue;
    text-shadow: 3px 5px 6px black;
    font-family: sans-serif;
    padding: 10px;
    margin-top: 15px;
    margin-bottom: 25px;
    text-align: center;
}

.botones {
    margin: 20%;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px;
    background-color: royalblue;
    color: white;
    align-items: center;

}

.botones:hover {
    color: blue;
    background-color: orange;
    cursor: pointer;
}


.video-container {
    /*background-image: url(./img/LOTO.jpg);
    background-size: cover;
    height: 100%;
    margin-top: 6em;*/
    /*padding: 25px;
    margin: 0px;
    margin-left: 10px;
    margin-right: 10px;
    background-color: aliceblue;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;*/

    /*display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-basis: calc(60% - 1px);*/


}

/*.video-container >#video1{
    display: block;
}*/

#videospilates {
    width: 100%;
}

#pilatesInfo {
    float: right;
    width: 25%;
    margin: 5em;
}

section#sobreNosotros {
    min-height: 120vh;
    display: grid;
    grid-template-columns: 33.33% 33.33% 33.33%;
    background-image: url(./img/piedras.jpg);
    background-size: cover;
    border: 0.1px solid gray;
    border-radius: 5px;
    align-content: space-around;
    padding: 2em;


}

/*
#sobreNosotros>div:nth-child(1) {
    border-right: 1px solid black;
    flex-basis: calc(60% - 1px);

    display: flex;
    flex-direction: column;
    justify-content: center;

}

#sobreNosotros>div:nth-child(1)>* {
    width: 80%;
}

#sobreNosotros>div:nth-child(2) {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
}
*/
#sobreNosotros #card {
    border: 1px dashed black;
    width: 300px;
    height: -webkit-fill-available;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    border-style: groove;
    cursor: pointer;
    box-shadow: 0px 0px 5px 5px #ec731e;
    -webkit-box-shadow: 0px 0px 5px 5px #ec731e;
    transition: all .5s ease-in-out;
    text-align: center;
    justify-items: center;
    margin: auto;



}

#card:hover {
    transform: scale(1.05);
}


#sobreNosotros #card img {
    width: auto;
    height: auto;
}

#sobreNosotros #card p {
    text-align: justify;
    justify-content: center;
    align-items: center;
}

#sobreNosotros>h3 {
    padding: 5px;
    margin: 12px;
    text-align: center;
    color: saddlebrown;
}

#horarios {
    margin: 25px;
    padding: 25px;
    width: 50%;
    height: auto;
    color: aliceblue;
    background-color: rgb(50, 122, 65);
    ;
    border: 0.1 px #292929;
    border-radius: 10px;
    cursor: pointer;
    font-size: larger;
    grid-column-start: 2;
    grid-column-end: span 3;
    align-items: center;
}

#horarios:hover {
    transform: scale(0.95);
    transition: 0.2s 0.3s;
    background-color: forestgreen;

}


#contacto {
    min-height: 120vh;
    background-image: url(./img/LOTO2.jpg);
    background-size: cover;
    height: 100%;
    border: 1px solid grey;
    border-radius: 5px;
    min-height: 120vh;
    background-image: url(./img/LOTO2.jpg);
    background-size: cover;
    height: 100%;
    border: 1px solid grey;
    border-radius: 5px;
    display: grid;
    grid-template-columns: 50% 20%;
    grid-template-rows: auto;
    grid-auto-flow: dense;
    grid-gap: 100px;
    align-items: baseline;
}

#formulario {
    width: 100%;
    min-height: 90vh;
    margin: 3em;
    padding: 3em;


}

#enviar {
    margin: 20%;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 8px;
    background-color: royalblue;
    color: white;
    align-items: center;
    border: 0.1px solid gray;
    border-radius: 5px;
    cursor: pointer;

}

#redes {
    display: grid;
    
    align-items: center;
}

#redes img {
    width: 50px;
    height: 50px;
    border-radius: 20px;
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    margin: 25px;

}

#redes img:hover {
    border-radius: 50%;
    -webkit-border-radius: 50%;
    box-shadow: 0px 0px 10px 10px #292929;
    -webkit-box-shadow: 0px 0px 10px 10px #292929;
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    cursor: pointer;
}




#firmat {
    grid-column-start: 1;
    grid-column-end: 4;
}

.legends {
    padding: 20px;
    margin: 20px;

}

footer {
    background-color: #292929;
    padding: 15px;
    width: 100%;
    height: 60px;
    text-align: center;
    color: aliceblue;
    display: flex;
    justify-content: space-between;
    border-radius: 5px;
}