* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: aliceblue;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

a {
    text-decoration: none;
    color: antiquewhite;
}

header {
    background-color: #292929;
    color: aliceblue;
    padding: 0.5em;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    position: relative;
    top: 0px;
    width: calc(100% - 1px);

    z-index: 1;
}

.menu {
    width: 100%;
    height: 120px;
    margin: 0 auto;
}

nav {
    float: right;

}

nav ul li {
    list-style: none;
    margin-left: 0px;
    padding: 45px;
    float: left;
    color: aliceblue;
    text-overflow: ellipsis;
    cursor: pointer;
    text-decoration: none;

}

#logo {
    width: 180px;
    height: 120px;
}

#principio {

    display: flex;
    flex-flow: row nowrap;
    flex-direction: row;
    justify-content: space-between;
    flex-basis: 30%;
    background-image: url(./img/yogalife.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 900px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;

}

.capa1 {

    width: 23%;
    height: 325px;
    background-color: lightgray;
    text-align: left;
    border-radius: 5px;
    border-collapse: unset;
    border: groove;
}

.right {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    place-items: end;
    justify-items: stretch;
    padding-right: 3em;
    height: 380px;
    width: 350px;
    padding-top: 1em;
    text-align: end;


}

#busqueda {
    width: 30%;
    height: 50px;
    display: flex;
    place-items: baseline;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-top: 1em;


}

.right>.botones {
    display: flex;
    flex-direction: column;
    flex-grow: unset;
    border-radius: 4px;
    border: 1px solid black;
}

#YogaInfo {
    top: 23%;
    left: 75%;
    font-size: large;
    padding-top: 30px;

}

#YogaInfo>ul {
    list-style: none;
}

#tituloyoga {
    font-size: 48px;
    color: darkblue;
    text-align: center;
    text-decoration: underline;
    text-shadow: 3px 5px 5px black;
    font-family: sans-serif;
    padding: 10px;
    margin-top: 15px;
    margin-bottom: 25px;
    width: 30%;
}

#versus {
    float: right;
    position: relative;
    margin-right: 10%;
    border: 1px solid grey;
    border-radius: 3px;
}

#yoga{
    margin-bottom: 3em;
    margin-top: 3em;
    border: 1px solid grey;
    border-radius: 5px;
}

#botonespilatesvid {
    width: 30%;
}

#botonpilatesvid>.botones {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15%;
    margin-top: 20px;
    margin-bottom: 10px;
    padding: 5px;
    width: 20em;
    background-color: royalblue;
    color: white;
    border-radius: 4px;
    border: 1px solid black;
    cursor: pointer;

}

#img-pilates {
    float: none;
    width: 50%;
    height: 50%;
}

#pilates {
    background-image: url(./img/b3b1783ae696446612f16e17b42c41cc.jpeg);
    background-size: cover;
    height: 100%;
    border: 1px solid grey;
    border-radius: 5px;
}

.titulos {
    font-size: 48px;
    color: darkblue;
    text-shadow: 3px 5px 6px black;
    font-family: sans-serif;
    padding: 10px;
    margin-top: 15px;
    margin-bottom: 25px;
    text-align: center;
}

.botones {
    margin: 20%;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px;
    background-color: royalblue;
    color: white;
    align-items: center;

}

.botones:hover {
    color: blue;
    background-color: orange;
    cursor: pointer;
}


.video-container {
    background-image: url(./img/b3b1783ae696446612f16e17b42c41cc.jpeg);
    background-size: cover;
    height: 100%;
    margin-top: 6em;
    /*padding: 25px;
    margin: 0px;
    margin-left: 10px;
    margin-right: 10px;
    background-color: aliceblue;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;*/

    /*display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-basis: calc(60% - 1px);*/


}
/*.video-container >#video1{
    display: block;
}*/

#videospilates {
    width: 100%;
}

#pilatesInfo {
    float: right;
    width: 25%;
    margin: 5em;
}
section#sobreNosotros {
    min-height: 120vh;
    display: flex;
    flex-flow: row nowrap;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    flex-direction: column;
    
    
}

#sobreNosotros > div:nth-child(1) {
    border-right: 1px solid black;
    flex-basis: calc(60% - 1px);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#sobreNosotros > div:nth-child(1) > * {
    width: 80%;
}

#sobreNosotros > div:nth-child(2) {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
}

#sobreNosotros #card {
    border: 1px solid black;
    width: 300px;
    display: flex;
    flex-direction: column;

}

#sobreNosotros #card img {
    width: 100%;
}

#sobreNosotros #card p {
    text-align: center;
}
#card{ display: flex;
    justify-content: flex-start;


}

footer {
    background-color: #292929;
    padding: 15px;
    width: 100%;
    height: 60px;
    text-align: center;
    color: aliceblue;
}