*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
        background-color: #efefef;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}   
#header{
        background: #292929;

}

.menu{
    width: 900px;
    margin: 0 auto;
}
nav{
    float: right;
}

nav ul li{ 
    list-style: none;
    margin-left: 15px;
    padding: 45px;
    float:left;
    color: aliceblue;
}

    #logo{
    width: 360px;
    height: 238px;
}

#lista{
    inline:inline-block;
}

#hathayoga{
    font-size: 48px;
    color:darkblue;
}
.right{
    margin-left: 1000px;
    margin-right: 0;
    margin-top: 8px;
    margin-bottom: 20px;
    
}
.botones{
    margin:0px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px;
    background-color: royalblue;
    color:white;
    width: 100%;
    ;
}
.botones:hover{
    color: blue;
    background-color: orange;
    cursor: pointer;
}

#pilates{
    font-size: 48px;
    color: darkblue;
}